<div class="media">
  <a class="forum-avatar" href="#">
    <%= image_tag("http://placehold.it/50x50&text=JB", class: "img-circle", alt:"image") %>
    <div class="author-info text-right">
      <strong>id:</strong> <%= post.user.email %><br>
      <strong>Posts:</strong> <%= post.user.posts.count %><br>
      <strong>Joined:</strong> <%= post.user.created_at.strftime("%Y/%m/%d") %><br>
    </div>
  </a>
  <div class="media-body">
    <div class="media-heading">
     <% if signed_in? %>
        <% if post.is_like?(current_user) %>
          <%= link_to group_post_like_path(@group,post,post),method: :delete, class: "btn btn-xs btn-danger btn-circle pull-right" do %>
            <i class="fa fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to group_post_likes_path(current_user,post),method: :post, class: "btn btn-xs btn-danger btn-circle btn-outline pull-right" do %>
            <i class="fa fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= markdown(post.content) %>
    <br>
  <hr class="hr-line-dashed">
       <small class="text-muted text-left">submitted <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>

       </small>
       <%= link_to new_group_post_comment_path(post.group,post),class:"btn btn-info pull-right btn-xs btn-outline" do %>
        <i class="fa fa-pencil"> comment </i>
       <% end %>

  <%= render :partial=> "groups/media_comment", :collection => post.comments.includes(:user), :as=> :post %>
  </div>


</div>
