<div class="forum-item active">
  <div class="row">
    <div class="col-md-8">
      <div class="forum-icon">
        <i class="fa fa-globe"></i>
      </div>
      <%= link_to(group.title, group_path(group),class:"forum-item-title") %>
      <div class="forum-sub-title">
        <%= render_group_description(group) %>
      </div>
    </div>
    <div class="col-md-1 forum-info">
      <span class="views-number"><%= group.member.count %>
      </span>
      <div>
        <small>Member</small>
      </div>
    </div>
    <div class="col-md-1 forum-info">
      <span class="views-number"><%= group.posts.count %>
      </span>
      <div>
        <small>Posts</small>
      </div>
    </div>
    <div class="col-md-2 forum-info">
      <% if signed_in? && current_user == group.user %>
        <%= link_to("", edit_group_path(group),class:"fa fa-edit fa-2x") %>

        <%= link_to("", group_path(group), class: "fa fa-trash fa-2x", method: :delete, data:{confirm: "Are you sure?"}) %>
      <% end %>
    </div>
  </div>
</div>
