<div class="media">
  <a class="forum-avatar" href="#">
    <%= image_tag("http://placehold.it/50x50&text=JB", class: "img-circle", alt:"image") %>
    <div class="author-info text-right">
      <strong>id:</strong> <%= comment.user.email %><br>
      <strong>Posts:</strong> <%= comment.user.posts.count %><br>
      <strong>Joined:</strong> <%= comment.user.created_at.strftime("%Y/%m/%d") %><br>
    </div>
  </a>
  <div class="media-body">
    <%= markdown(comment.content) %>
    <br>
    <% if signed_in? && current_user.is_member_of?(@group) %>
      <% if current_user.comments.include?(comment) %>
        <%= link_to edit_group_post_comment_path(@group,comment.post,comment), class: "btn btn-info btn-xs btn-outline" do %>
          <i class="fa fa-paste"> Edit</i>
        <% end %>
        <%= link_to group_post_comment_path(@group,comment.post,comment),class: "btn btn-danger btn-xs btn-outline", method: :delete, data:{confirm: "Are you sure?"} do %>
          <i class="fa fa-trash"> Delete</i>
        <% end %>
      <% end %>
    <% end %>
    <hr class="hr-line-solid">
    <small class="text-muted text-left">submitted <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
    </small>
  </div>
</div>
