<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.scss") %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="top-navigation">
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
      <div id="page-wrapper" class="gray-bg <%= @extra_class %>">
        <%= render 'common/navbar' %>
        <!-- Page wrapper -->
        <%= render "common/flashes" %>
        <!-- Main view  -->
        <%= yield %>
        <!-- Footer -->
        <%= render 'common/footer' %>
      </div>
      <!-- End page wrapper-->
      <!-- Right sidebar -->
    </div>
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
    <%= yield :javascript %>
  </body>
</html>
